@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer root {
  :root {
    background-color: #FBF0E8;
    color: #534859;
    font-size: clamp(0.5rem, 3vw, 1.3rem);
  }
}

/* @layer root {
  :root {
    background-color: #FBF0E8;
    color: #534859;
    @apply text-sm;
  }
} */
